[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bump2version = "*"
codecov = "*"
pre-commit = "*"
pytest = "*"
pytest-runner = "*"
pytest-cov = "*"

[packages]
requests = "*"
tqdm = "*"
pandas = "*"
pillow = "*"
imageio = "*"
requests-html = "*"
